<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        *[v-cloak]{
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Time calculator</h1>
        <div class="desc">This calculator made for people who need to calc their time spent on something, ie. work hours.</div>
        <div id="app" class="mt-5" v-cloak>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>Here add your time</h4>
                    <form @submit.prevent="add">
                        <div class="d-flex">
                            <input type="number" min="0" class="form-control mr-2" placeholder="Hours" v-model="inputHours">
                            <input type="number" max="60" min="0" step="5" class="form-control" placeholder="Minutes" v-model="inputMinutes">
                        </div>
                        <button class="btn btn-primary mt-3">Add</button>
                    </form>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Result</h4>
                    <div v-if="times.length">
                        <div id="list">
                            <div class="row" v-for="(time, i) in times">
                                <div class="col-1">{{ i + 1 }}.</div>
                                <div class="col"><strong>Hours:</strong> {{ time.hours }}</div>
                                <div class="col"><strong>Minutes:</strong> {{ time.minutes }}</div>
                            </div>
                        </div>
                        <div id="summary">
                            <strong>Summary:</strong> Hours:{{result.hours}}, Minutes:{{result.minutes}}
                        </div>
                    </div>
                    <div class="alert alert-info" v-else>
                        Please provide your time
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                times: [],
                inputHours: '',
                inputMinutes: '',
            },
            computed: {
                result() {
                    return this.times.reduce(({hours, minutes}, curr) => {
                        hours += curr.hours;
                        minutes += curr.minutes;

                        hours += Math.floor(minutes / 60);
                        minutes = minutes % 60;

                        return {hours, minutes};

                    }, {hours: 0, minutes: 0})
                }
            },
            methods: {
                add(){
                    this.times.push({hours: +this.inputHours, minutes: +this.inputMinutes});
                    this.inputHours = '';
                    this.inputMinutes = '';
                }
            }
        })

    </script>
</body>
</html>
