@import "variables";
@import "bootstrap";
@import "mdb";

@import "~@angular/material/theming";
@include mat-core();

$cars-service-primary: mat-palette($mat-blue);
$cars-service-accent: mat-palette($mat-gray);
$cars-service-warn: mat-palette($mat-red);

$cars-service-theme: mat-light-theme($cars-service-primary, $cars-service-accent, $cars-service-warn);

@include angular-material-theme($cars-service-theme);

@import "snotify";

body{
  background-color: $light;
}